version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.simple
      args:
        VITE_API_URL: http://3.150.125.39:3001/api
        VITE_CLERK_PUBLISHABLE_KEY: pk_test_ZXh0cmEtcmF2ZW4tNzEuY2xlcmsuYWNjb3VudHMuZGV2JA
        VITE_ENVIRONMENT: production
        VITE_S3_BUCKET_URL: https://cyber-web--lhss-products-images.s3.us-east-2.amazonaws.com
    ports:
      - "5173:5173"
    restart: unless-stopped