services:
  frontend:
    build: .
    ports:
      - "80:80"
    env_file:
      - .env.prod
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    external: true
    name: cyber-web-back_default