@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif; 
    overflow-x: hidden; 
}

@theme {
    --color-d4: #d4d4d4;
}

select option {
    @apply text-sm font-normal text-gray-700;
}
